//Mixins

$head-font: "Century Gothic bold", sans-serif;
$bodycopy-font: "Century Gothic regular", sans-serif;
$primary-color: #00101B;
$header-color: #2A1B3C;
$footer-color: #2A1B3C;
$font-color: #FFFFFF



