body {
    margin: 0;
    background-image: url('../images/heroimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



html {
    cursor: url('path-to-image.png'), auto;	
  }


.header {
    background-color: rgba(42, 27, 60, 0.3);
    padding: 5px;
    align-items: center;
}

.header a {
    font-size: 30px;
    display: inline-block; /* Ensures block-level for padding */
    color: white; /* Initial text color */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.3s; /* Smooth transition for color changes */
    text-align: center;
    width: 100%;
}

.header a:hover {
    color: rgb(48, 134, 255); /* Text color on hover */
}



.nav-link.active {
    color: rgb(183, 25, 112);
  
}
