body {
    margin: 0;
    background-image: url('../images/heroimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.header {
    background-color: rgba(42, 27, 60, 0.3);
    padding: 5px;
    align-items: center;
}

.header a {
    font-size: 30px;
    display: inline-block; 
    color: white; 
    text-decoration: none; 
    transition: color 0.3s; 
    text-align: center;
    width: 100%;
}

.header a:hover {
    color: rgb(48, 134, 255); 
}

@media (max-width: 768px) {
    .wand {
        transform: rotate(90deg); 
        width: auto; 
        height: 50vh; 
    }
}



//nav

/* Initial state of the hamburger menu */
.ham {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* State of the hamburger menu when it's visible */
.ham.show {
    display: block;
    opacity: 1;
}



.navlist a{
    margin: 20px;
    color: white;
    font-size: 18px;
    align-items: center;
}