/* Form Fields */
.field {
    margin: 20px;

    /* Adjust the blur value as needed */
}

.field input {
    font-family: 'CenturyGothic', sans-serif; /* Replace 'CenturyGothic' with the desired font family for form fields */
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    backdrop-filter: blur(8px);
    width: calc(100% - 20px); /* Use calc to consider padding and border */
    padding: 20px;
    color: white;
    box-sizing: border-box;
    border: none; /* Remove border for a cleaner look */
    border-radius: 30px 30px 0 30px;
    font-size: 26px;
    margin-right: auto; /* Set margin-right to auto for left alignment */
    background-color: rgba(255, 255, 255, 0.4); /* Blue transparent background */

}

/* For all input fields */
::placeholder {
    color: white;
}


textarea {
    resize: vertical;
}

button {
/* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 35px;
    font-size: 25px;
    background-color: #135785; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2aaaff; /* Button background color on hover */
}

.star-icon {
    color: #f39c12; /* Star icon color */
}


#lb a {
    width: 100%;
}


#message {
    padding: 80px; /* Adjust the padding value as needed */
}
